%% https://github.com/basho/rebar/blob/master/rebar.config.sample

%% Erlang compiler options
{erl_opts, [debug_info,
    {i, "test"},
    {src_dirs, ["src"]},
    %% lager
    {parse_transform, lager_transform}
]}.

%% Check required ERTS or OTP release version
%% {require_erts_vsn, ".*"}.
%% {require_otp_vsn, ".*"}.
%% {require_min_otp_vsn, ".*"}.

%% Additional library directories to add to the code path
{lib_dirs, []}.

{sub_dirs, ["rel"]}.

%% == EUnit ==
%% Options for eunit:test()
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

%% == Cover ==
%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.
%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.
%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, true}.


%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, ["deps"]}.

{deps, [
    {etoml, ".*", {git, "https://github.com/kalta/etoml.git", {branch, "master"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.7.1"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
    {uuid, ".*", {git, "https://github.com/afiskon/erlang-uuid-v4.git", {branch, "master"}}},
    %% {mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp.git", {tag, "1.1.1"}}},
    {emysql, ".*", {git, "https://github.com/FlowerWrong/Emysql.git", {branch, "master"}}},
    {bcrypt, ".*", {git, "https://github.com/chef/erlang-bcrypt.git", {branch, "master"}}}
]}.

%% == xref ==

{xref_warnings, false}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.

%% Optional custom xref queries (xref manual has details) specified as
%%     {xref_queries, [{query_string(), expected_query_result()},...]}
%% The following for example removes all references to mod:*foo/4
%% functions from undefined external function calls as those are in a
%% generated module
{xref_queries,
 [{"(XC - UC) || (XU - X - B"
   " - (\"mod\":\".*foo\"/\"4\"))",[]}]}.
