{erl_opts, [debug_info]}.

%% {require_otp_vsn, "17"}.

{deps_dir, ["deps"]}.

{deps, [
    {etoml, ".*", {git, "git@github.com:kalta/etoml.git", {branch, "master"}}},
    {jsx, ".*", {git, "git@github.com:talentdeficit/jsx.git", {tag, "v2.7.1"}}},
    {jiffy, ".*", {git, "git@github.com:davisp/jiffy.git", {branch, "master"}}},
    {lager, ".*", {git, "git@github.com:basho/lager.git", {branch, "master"}}},
    {uuid, ".*", {git, "git@github.com:afiskon/erlang-uuid-v4.git", {branch, "master"}}},
    {emysql, ".*", {git, "git@github.com:Eonblast/Emysql.git", {branch, "master"}}},
    {bcrypt, ".*", {git, "git@github.com:chef/erlang-bcrypt.git", {branch, "master"}}}
]}.
