{erl_opts, [debug_info]}.

{require_otp_vsn, "17"}.

{deps_dir, ["deps"]}.

{deps, [
  %% {bigwig, ".*", {git, "git://github.com/beamspirit/bigwig.git", {branch, "master"}}}
  {etoml, ".*", {git, "git@github.com:kalta/etoml.git", master}},
  {jsx, ".*", {git, "git@github.com:talentdeficit/jsx.git", master}}
]}.
